<div class="page">
  
  <div class="nav">
      <div class="sidebar-header col col-lg-1">
          <h4><mat-icon [inline]="true">music_note</mat-icon> Musify</h4>
      </div>
      <div class="col col-lg-11"> 
          <ul class="nav justify-content-end">
              <li *ngIf="identity" class="nav-item " > 
                <a id="identityName" class="nav-link1 " href="#"><img width="25" height="25" class="rounded-circle" src="{{url+ 'getImageUser/'+ identity.image}}"/><small>{{identity.name}} {{identity.surname}}</small></a>
              </li>
                <a *ngIf="identity" class="nav-link2"><small>|</small></a>
              <li *ngIf="identity" class="nav-item">
                <a *ngIf="identity" class="nav-link1" [routerLink]="['/updateUser']" 
                [routerLinkActive]="['activado']"><fa name="id-card"></fa>
                <small> Mis datos</small></a>
              </li>
                <a *ngIf="identity" class="nav-link2"><small>|</small></a>
              <li *ngIf="identity" class="nav-item">
                <a class="nav-link1" href="#" (click)="logout()"><fa name="sign-out"></fa><small>Salir</small></a>
              </li> 
              <li *ngIf="!identity" class="nav-item">
                  <a class="nav-link" (click)="clickRegister()" [routerLink]="['/registerUser']" [routerLinkActive]="['activado']" >
                    <mat-icon>person_add</mat-icon><small>Registrarse</small></a>
                </li> 
          </ul>
      </div>
  </div>
  <div class="wrapper" *ngIf="identity">
      
      <nav id="sidebar" class="sidebar col col-lg-1"> 
        <hr/><br>
        <ul class="list-unstyled components">
          <li>
            <a aria-expanded="false" class="nav-link" href="#">
              <mat-icon class="iconsSb" style="font-size: 50px">search</mat-icon>
              <strong>Buscar</strong></a>
          </li>
          <li>
            <a aria-expanded="false" class="nav-link" [routerLink]="['/artistsList',1]" [routerLinkActive]="['activado']" >
              <mat-icon class="iconsSb" fixed="true" style="font-size: 50px">person</mat-icon ><strong>Artistas</strong></a>
          </li>
          <li>
            <a aria-expanded="false" class="nav-link" href="#"><mat-icon class ="iconsSb" style="font-size: 50px">album</mat-icon> <strong>Albums</strong></a>
          </li>
          <li> 
            <a aria-expanded="false" class="nav-link" href="#"><mat-icon class ="iconsSb" style="font-size: 50px">music_note</mat-icon> <strong>Canciones</strong></a>
          </li>
          </ul>
      </nav>
    </div>

    <div *ngIf="identity" class="central col-lg-11">
        <router-outlet></router-outlet>
    </div>
    <div *ngIf="!identity" class="col-lg-12"></div>
  <div *ngIf="!identity"class="container col-lg-8 ">
    <form #loginForm="ngForm" class="loginForm col-lg-12" (ngSubmit)="onSubmit()" >
        <div class="form-group col-auto p-3 mb-2">           
          <mat-form-field>
            <input matInput type="email" #email="ngModel" name="email" [(ngModel)]="user.email"   
              class="form-control col-lg-12" id="exampleInputEmail1" placeholder="Correo Eléctronico" required>                 
          </mat-form-field>
          <span *ngIf="!email.valid && email.touched" class="badge badge-danger">
              *El email es obligatorio
          </span>  
        </div>
        <div class="form-group col-auto p-3 mb-2">
          <mat-form-field>
            <input matInput type="password" #password="ngModel" name="password" [(ngModel)]="user.password" 
            class="form-control" id="exampleInputPassword1" placeholder="Contraseña" required>
          </mat-form-field>
              <span *ngIf="!password.valid && password.touched" class="badge badge-danger">
                  *La contraseña es obligatoria
              </span>
        </div>
        <div class="form-group form-check col-auto">
        <br>
        </div>
        <div class="buttonsLogin">
          <button type="button submit" class="btn btn-success">Entrar</button> 
        </div>  
      </form>

  </div> 

</div>