<div *ngIf="!identity" class="col-lg-12">
        <h4>Registrarse</h4>
        <div *ngIf="alertRegister">     
            <div class="alert alert-danger" role="alert">
            {{alertRegister}}
            </div>  
          </div>
        <form *ngIf="!identity" #registerAngular="ngForm" class="col-md-12" (ngSubmit)="onSubmit()">
        
              <div class="form-row col-lg-17">
                <div class="form-group col-md-6">
                    <label for="name">Nombre</label>
                    <input  #name="ngModel" [(ngModel)]="user.name" type="text" class="form-control" name="name1"
                    placeholder="Nombre" required>
                    <span *ngIf ="!name.valid && name.touched" class="badge badge-danger">
                      *El nombre es obligatorio 
                    </span>
              </div>
          
              <div class="form-group col-md-6">
                  <label for="surname">Apellidos</label>
                  <input #surname="ngModel" [(ngModel)]="user.surname" type="text" class="form-control" name="surname1"
                  id="surname" placeholder="Apellidos" required>
                  <span *ngIf ="!surname.valid && surname.touched" class="badge badge-danger">
                      *Los apellidos son obligatorios 
                    </span>
                </div>
            <div class="form-group col-md-12">
              <label for="inputEmail">Correo Elétronico</label>
              <input #email="ngModel" [(ngModel)]="user.email" type="email" class="form-control" name="email"
              id="inputEmail" placeholder="Correo Eléctronico" required>
              <span *ngIf ="!email.valid && email.touched" class="badge badge-danger">
                  *El email es obligatorio 
                </span>
            </div>
            <div class="form-group col-md-12">
              <label for="inputPassword">Contraseña</label>
              <input #password="ngModel" [(ngModel)]="user.password" type="password" class="form-control" name="password"
              id="inputPassword" placeholder="Contraseña" required>
              <span *ngIf ="!password.valid && password.touched" class="badge badge-danger">
                  *La contraseña es obligatoria 
                </span>
            </div>
          </div>
          <div class="buttons">
            <button type="submit" class="btn btn-success">Registrarse</button>
          </div>
        </form>
  
      </div>

      