/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/purple-green.css';



.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


.page {
    background: black;
    height:1029px;
    width: 1920px;
}


.header {
    color:white;
    
}
.nav {
    color: white;
}

.nav li a {
    color: white;
}

.nav li a:hover {
    color:gray; 
     
 }
.sidebar {
    color:white;
    height:900px;
    width: 100%;
    float:left;
}

#sidebar ul li a{
    color:white;
    text-align: center;
}
#sidebar ul li a:hover{
    color:gray;
}

.container {
   
    color:white;
    height:100%;
    width: 100%;
    float:right;
}
.buttonsLogin {
    float: center;
}

.userReg{
    float:right;
    padding-top:1%;
    color: white;
    padding-left: 100%;
    position: absolute;
    height: 900px;
    width: 900px;
    left:7%;
    top:100%
}

.buttons {
    float: right;
    padding-top: 25px;
}

.imageForEdit {
    height: 250px;
    width: 100px;
    padding-left: 220px;    
}


.nav-link1 {
    width: 15px;
}

.nav-link2{
    width: 15px;
    margin-left: 15px;
}

.nav-link {
   height: 150px;
   width: 120px;
   margin: 10px;
   vertical-align: text-bottom;
}

.iconsSb {
   align-content: center; 
    margin: 5px;
   
}

.activado {
    border-bottom: 1px solid lightgreen;
    padding-bottom: 4px;
}
.botonDefault button {
    color: white;
}
.botonDefault button:hover {
    color: gray;
    text-decoration:none;
}

.container {
    margin-top: 30px;
}

.row {
    margin-left: 200px;
}
.card {
    position: absolute;
    margin-left:10px;
    text-align: center;
}

.page-link{
    background: black;
}


.example-card {
    max-width: 300px;
    margin-bottom: 50px;
    margin-left: 10px;
    float:left;
    background: black;
}

